.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }
.mat-form-field-infix{
	border: none !important;
    background: #fff;
    color: #333;
    font-size: 14px;
    position: relative;
    top: 11px;
    height: 18px;
}