/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ng-snotify/styles/material.css';
@import "../node_modules/@ctrl/ngx-emoji-mart/picker";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Arial, Helvetica, sans-serif !important;}

.mat-grid-tile .mat-figure {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: block;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin: 0;
}